{% extends 'base.html' %}

{% block titulo %}Lista das Solicitações | {% endblock %}

{% load custom_tags %}
{% load omfilters %}

{% block content %}

<div class="row">
    <div class="col">

        <div class="row mt-4">
            <div class="col">
                <h3>Lista dos militares</h3>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    {% for column in columns %}
                    <th>{% order_by_link column.name column.display_name order_by direction 'profile:listar_militares' %}</th>
                    {% endfor %}
                </tr>
                {% for militar in militares %}
                <tr>
                    {% for column in columns %}
                    <td>{{ militar|get_attribute:column.name }}</td>
                    {% endfor %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="{{ columns|length }}">Nenhum militar encontrado.</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row mt-4">
            <div class="col">
                <a href="{% url 'service:list' %}" class="btn btn-primary btn-block btn-lg">Voltar</a>
            </div>
            <div class="col">
                <a href="{% url 'profile:gerar_pdf' %}" class="btn btn-primary btn-block btn-lg">
                    <i class="fa-regular fa-file-pdf"></i> Gerar PDF
                </a>
            </div>
        </div>

    </div>
</div>

{% include 'partials/_pagination.html' %}

{% endblock %}
