{% load static %}
{% load omfilters %}

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'service:list' %}">Extra Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'service:list' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            
            
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Conta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile:create' %}">Atualizar</a>
                    <a class="dropdown-item" href="{% url 'profile:logout' %}">Sair</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'request:list_requests' %}">Listar Serviços</a>                 
                </div>
            </li>
           
            {% if request.user.is_staff %}
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'request:list_requests' %}">Listar solicitações</a>
                    <a class="dropdown-item" href="{% url 'profile:logout' %}">Selecionar Militares</a>
                    <a class="dropdown-item" href="{% url 'request:list_requests' %}">Outro</a>                 
                </div>
            </li>
            {% endif %}

            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'profile:create' %}">Entrar</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'profile:create' %}">Criar conta</a>
            </li>
            {% endif %}

            {% if request.session.cart %}
            <li class="nav-item">
                <a class="nav-link nav-cart-link active" href="{% url 'service:cart' %}">
                    <span class="nav-cart-text mr-1">
                        Solicitações
                    </span>
                    <span class="nav-cart-count mr-1">
                        <strong>{{ request.session.cart|cart_total_qtd}}x</strong>
                    </span>
                    <span class="nav-cart-icon mr-2">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'service:search' %}">
            <input name="query" value="{{ request.GET.query }}" class="form-control mr-sm-2" type="search" placeholder="Busca" aria-label="Busca">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Busca</button>
        </form>
    </div>
</nav>