{% extends 'base.html' %}

{% load omfilters %}

{% block content %}

{% if cart %}

<div class="row mt-3">
    <div class="col">
        <h3>Suas solicitações</h3>
        <p class="lead">Os serviços que você escolheu.</p>

        {% include 'partials/_cart.html' %}
    </div>
</div>

<div class="row mt-3">
    <div class="col-lg">
        <p class='lead'>Qtd de serviços</p>

        <div class='table-responsive'>
            <table class="table">
                <tr>
                    <td class="font-weight-bold">Total</td>
                    <td>{{ request.session.cart|cart_total_qtd}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg mt-auto">
        {% if request.user.is_authenticated %}
        <a class="btn btn-lg btn-block btn-primary" href="{% url 'service:purchasesummary' %}">
            Finalizar Solicitação       
        </a>
        {% else %}
        <a class="btn btn-lg btn-block btn-primary" href="{% url 'profile:create' %}">
            Entrar e Finalizar Solicitação        
        </a>
        {% endif %}
    </div>
</div>

{% else %}

<div class="row mt-3">
    <div class="col">
        <h3>Vazio</h3>
        <p class="lead">Não há solicitação de serviço</p>
    </div>
</div>

{% endif %}

{% endblock %}