{% extends 'base.html' %}
{% load omfilters %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg">
                <div class="row no-gutters">
                    <div class="col-lg-12">
                        {% if service.image %}
                        <img class="img-fluid" src="{{service.image.url }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="mt-4 mt-lg-0">
                    <h1 class="h2">{{service.local }}</h1>
                    <p class="lead">{{ service.data_inicio|format_date_service }} ({{service.data_inicio|weekday_name}})</p>
                    <p class="lead">{{service.observacao|linebreaks }}</p>
                    
 
                    {% comment %} <p class="lead">
                        <span id="variation-preco" class="lead product-price">R$29,90</span>
                        <span id="variation-preco-promocional"
                            class="lead product-old-price text-muted">R$49,90</span>
                    </p> {% endcomment %}

                    <form action="{% url 'service:addtocart' %}" id="form-add-to-cart">
                        <div class="form-group">
                            <select id="select-variacoes" name="sid" class="form-control form-control-lg">
                                <option value="{{ service.id }}">{{service.local}} - {{service.data_inicio|format_date_service}}
                                </option>
                                {% comment %} <option data-preco="R$ 51,90" data-preco-promocional="R$ 49,90" value="45">M
                                </option>
                                <option data-preco="R$ 52,90" data-preco-promocional="R$ 89,90" value="45">G
                                </option> {% endcomment %}
                            </select>
                        </div>

                        <div class="text-left">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                <i class="fas fa-calendar-day" aria-hidden="true"></i>
                                Solicitar
                            </button>
                        </div>

                    </form>


                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5 mb-5">
                    <h2 class="text-center">{{service.local }} - Dia: {{service.data_inicio|format_date_service }}</h2>
                    
                    {{service.observacao|linebreaks }}
                    
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}