{% extends 'base.html' %}
{% load omfilters %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card-columns">

            {% for service in services %}
            
            {% if service.status == 'A' %}
           
            <div class="card">            
                
                {% if  service.image %}
                <a href="{{ service.slug }}">
                <img class="card-img-top" src="{{ service.image.url }}" alt="{{service.local}} - {{service.data_inicio}}">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{service.local}}</h5>
                    {% comment %} <p class="card-text">{{ service.observacao|linebreaks }}</p> {% endcomment %}
                    <div class="container product-price-block text-center">
                        <span class="product-price">
                            {{service.data_inicio|format_date_service}} ({{service.data_inicio|weekday_name}})
                        </span>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-top-light-custom text-center">
                    <a href="{{ service.slug }}" class="btn btn-primary btn-sm m-1 btn-block">
                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                        Detalhes
                    </a>
                </div>
                {% endif %}
            </div>

            {% endfor %}

        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        {% include 'partials/_pagination.html' %}
    </div>
</div>

{% endblock %}