{% extends 'base.html' %}

{% block titulo %}Lista das Solicitações | {% endblock %}

{% load omfilters %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
  
        <div class="row mt-4">
            <div class="col">
                <h3>Ordenação dos militares</h3>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th>Militar</th>
                    <th>QTD</th>
                    <th>Antiguidade</th>
                </tr>

                {% for military in selected_militaries %}
                <tr>
                    <td>{{ military.grau_hierarquico }} {{ military.qra }}</td>
                    <td>{{ military.scheduling_set.first.qtd }}</td>
                    <td>{{ military.antiguidade }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>


        <div class="row mt-4">
            <div class="col">
                <a href="{% url 'service:list' %}" class="btn btn-primary btn-block btn-lg">Voltar</a>
            </div>
        </div>



    </div>
</div>

{% include 'partials/_pagination.html' %}

{% endblock %}