{% extends 'base.html' %}

{% block titulo %}Lista das Solicitações | {% endblock %}

{% load omfilters %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        {% if not request.user.is_staff %}
        <h3>Dados do Militar </h3>
        
        
        <div class="row mt-4">
            <div class="col-lg-2 font-weight-bold">Militar: </div>
            <div class="col-lg-4">{{ military.grau_hierarquico }} {{ military.qra }}</div>
            <div class="col-lg-2 font-weight-bold">Matrícula: </div>
            <div class="col-lg-4">{{ military.matricula }}</div>

            <div class="col-lg-2 font-weight-bold">Telefone: </div>
            <div class="col-lg-4">{{ military.telefone }}</div>
            <div class="col-lg-2 font-weight-bold">Email: </div>
            <div class="col-lg-4">{{ military.email }}</div>
        </div>
        {% endif %}

        <div class="row mt-4">
            <div class="col">
                <h3>Solicitações</h3>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    {% if request.user.is_staff %}
                    <th>Militar</th>
                    {% endif %}
                    <th>Local</th>
                    <th>Dia</th>
                    <th>Horário</th>
                    <th>Observação</th>
                    <th>Solicitado em</th>
                    <th>Status</th>
                </tr>

                {% for req in request_list %}
                <tr>
                    {% if request.user.is_staff %}
                    <td>{{req.id_mil}}</td>
                    {% endif %}
                    <td>{{ req.id_sv.local }}</td>
                    <td>{{ req.id_sv.data_inicio|format_date }}</td>
                    <td>{{ req.id_sv.hora_inicio|format_time }} às {{ req.id_sv.hora_termino|format_time }}</td>
                    <td>{{ req.id_sv.observacao }}</td>
                    <td>{{ req.data_solicitacao|format_datetime }}</td>
                    <td>{{ req.get_status_display }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>


        <div class="row mt-4">
            {% if request.user.is_staff %}
            <div class="col">
                <a href="{% url 'request:select' %}" class="btn btn-primary btn-block btn-lg">Selecionar</a>
            </div>
            {% endif %}
            <div class="col">
                <a href="{% url 'service:list' %}" class="btn btn-primary btn-block btn-lg">Voltar</a>
            </div>
        </div>



    </div>
</div>

{% include 'partials/_pagination.html' %}

{% endblock %}