{% extends 'base.html' %}

{% block titulo %}Acesso Negado | {% endblock %}

{% load omfilters %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="row mt-4">
            <div class="col">
                <h3>Acesso Negado</h3>
            </div>
        </div>

        <div class="alert alert-danger">
            Você não tem permissão para acessar esta página.
        </div>

        <div class="row mt-4">
            <div class="col">
                <a href="{% url 'service:list' %}" class="btn btn-primary btn-block btn-lg">Voltar</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}